body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, Sans-serif;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

h1 {
  font-size: 24px;
  line-height: 30em;
}

h2 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}

p {
  font-size: 12px;
}

a {
  text-decoration: none;
  color: #2dc4b2;
}

#form {
  padding: 10em;
  bottom: 10em;
}

#console {
  position: absolute;
  overflow: auto;
  width: 250px;
  margin: 10px;
  padding: 1em 1em;
  background-color: white;
}

@media screen and (max-width: 260px) {
    #console {
        width:65%;
    }
}

.session {
  margin-bottom: 20px;
}

.row {
  height: 12px;
  width: 100%;
}

.colors {
  background: linear-gradient(to right, #F8DE5F,#FAD35B,#FBC759,#FBBC58,#FAB158,#F8A659,#F59C5B,#F0925D, #EA8960, #E48062);
  margin-bottom: 5px;
}

.label {
  width: 15%;
  display: inline-block;
  text-align: center;
}
